<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO" monitorinterval="60">
    <properties>
        <property name="contextName">demo</property>
        <!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL, OFF -->
        <property name="level">INFO</property>
        <property name="additive">true</property>
        <property name="dir">/logs/</property>
        <property name="bakdir">${dir}%d{yyyy-MM-dd}/</property>
        <property name="charset">UTF-8</property>
        <property name="pattern">
            %d{HH:mm:ss SSS}[%-3level]--->【%c{3}|%M|%L】%n      [%-3level] : %m%n%n</property>
        <property name="maxFiles">30</property>
        <property name="bakSuffix">.%d{yyyy-MM-dd}.log</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <File name="FileOnce" filename="${dir}startup.log" append="false">
            <PatternLayout pattern="${pattern}"/>
        </File>
        <RollingFile name="FileLog" fileName="${dir}demo.log" filePattern="${bakdir}demo.log">
            <PatternLayout pattern="${pattern}"/>
            <DefaultRolloverStrategy max="${maxFiles}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="${level}">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileOnce"/>
            <AppenderRef ref="FileLog"/>
        </Root>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.apache" level="WARN"/>
    </Loggers>
</Configuration>