<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<style>
	body {
		width: 300px;
		height: 100px;
	}
	
	button {
		width: 100px;
		height: 40px;
	}
	
	#show {
		color: #eee;
	}
</style>
<script src="../../static/js/common/jquery.min.js" th:src="@{/js/common/jquery.min.js}"></script>
<script src="../../static/js/common/common.js" th:src="@{/js/common/common.js}"></script>
<body>
<form id="file" enctype="multipart/form-data" action="/qrCode/decode" method="post">
	选择文件 :<input id="fileInput" type="file" name="file" value=""/>
</form>
<button type="submit" id="decode" value="decode">开始解析</button>
<div id="show"></div>
<script th:inline="javascript">
	/*<![CDATA[*/
    var context = /*[[@{/}]]*/;
	/*]]>*/
</script>
</body>
</html>