<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../../static/js/common/jquery.min.js" th:src="@{/js/common/jquery.min.js}"></script>
<script src="../../static/js/common/socket.js" th:src="@{/js/common/socket.js}"></script>
<body>
<div th:text="${name}" id="name">user1</div>
<input id="text" type="text"/>
<button onclick="send()">发送</button>
<button onclick="closeWebSocket()">关闭连接</button>
<div id="message">
</div>
</body>
</html>